---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import origin00 from '@assets/images/infographic/origin-00.svg';
import origin01 from '@assets/images/infographic/origin-01.svg';
import origin02 from '@assets/images/infographic/origin-02.svg';
import infrastructures00 from '@assets/images/infographic/infrastructures-00.svg';
import infrastructures01 from '@assets/images/infographic/infrastructures-01.svg';
import slaughter00 from '@assets/images/infographic/slaughter-00.svg';
import slaughter01 from '@assets/images/infographic/slaughter-01.svg';
import animalCare00 from '@assets/images/infographic/animal-care-00.svg';
import animalCare01 from '@assets/images/infographic/animal-care-01.svg';
import water00 from '@assets/images/infographic/water-00.svg';
import water02 from '@assets/images/infographic/water-02.svg';
import slurry00 from '@assets/images/infographic/slurry-00.svg';
import slurry01 from '@assets/images/infographic/slurry-01.svg';
import democracy00 from '@assets/images/infographic/democracy-00.svg';
import democracy01 from '@assets/images/infographic/democracy-01.svg';
import emissions00 from '@assets/images/infographic/emissions-00.svg';
import emissions01 from '@assets/images/infographic/emissions-01.svg';
import labour00 from '@assets/images/infographic/labour-00.svg';
import labour01 from '@assets/images/infographic/labour-01.svg';
import finalConsumer00 from '@assets/images/infographic/final-consumer-00.svg';
import finalConsumer01 from '@assets/images/infographic/final-consumer-01.svg';
import scale00 from '@assets/images/infographic/scale-00.svg';
import TextHero from '@components/TextHero.astro';
import ScreenSplitTwo from '@components/ScreenSplitTwo.astro';
---

<Layout
  title="Estudi la producció porcina comparativa IDRA"
  description="Porc industrial - Porc ecològic. Dos models oposats"
  classesHeader="bg-amber-100"
>
  <TextHero fullHeightCenter={false} classes="bg-amber-100">
    <div
      slot="content1"
      class="container text-center mx-auto p-4 md:px-28 md:py-16 lg:px-36"
    >
      <h1 class="text-4xl lg:text-8xl font-bold mb-6">
        Implicacions econòmiques i ecològiques de dos models oposats
      </h1>
      <p class="mb-4 max-w-2xl mx-auto">
        Un recorregut pels 12 punts clau que diferencien el model industrial
        porcí i la producció extensiva i/o ecològica de la finca Llavora i
        l’Escorxador de l’Armentera.
      </p>
    </div>
  </TextHero>

  <ScreenSplitTwo>
    <div slot="content1" class="text-center">
      <h2 class="font-bold mb-4 md:text-2xl lg:text-5xl">Porc industrial</h2>
      <p class="max-w-xs m-auto md:text-xl leading-[1.3]">
        Producció intensiva i industrial destinada als mercats internacionals.
      </p>
    </div>
    <div slot="content2" class="text-center">
      <h2 class="font-bold mb-4 md:text-2xl lg:text-5xl">Porc ecològic</h2>
      <p class="max-w-xs m-auto md:text-xl leading-[1.3]">
        Producció extensiva i/o ecològica destinada a l’economia i consum de
        proximitat.
      </p>
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Origen de l'alimentació">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Cereals i soja transgènica</strong>.<br />Genera <strong
            >desforestació</strong
          > i vulneracions dels Drets Humans.<sup>2</sup>
        </li>
      </ul>
      <div class="flex lg:gap-8 justify-center mt-8">
        <Image src={origin00} alt="" />
        <Image src={origin01} alt="" />
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Cultius locals</strong>.<br />Vincula ramaders i agricultors.
        </li>
      </ul>
      <Image src={origin02} alt="" class="mt-12" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Infraestructures">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li class="mb-4">
          <strong>Bunge i Elian</strong>.<br />Processen la soja que entra pel
          Port de Barcelona.
        </li>
        <li class="mb-4">
          <strong>Vall Companys i BonÀrea</strong>.<br />Fabriquen el pinso.
        </li>
        <li class="mb-4">
          <strong>Mercabarna</strong>.<br />Comercialitza cada any <strong
            >35.000 tones de carn</strong
          >.
        </li>
        <li class="mb-4">
          <strong>Eix transversal o eix dels porcs</strong>.<br />Connecta el
          Sagrià i Osona amb el Port de Barcelona i Europa.
        </li>
      </ul>
      <div>
        <Image src={infrastructures00} alt="" />
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong
            >Petita indústria i infraestructures arrelades al territori</strong
          ><br />Molí de gra<br />Petites finques<br />Escorxador municipal
        </li>
      </ul>
      <Image src={infrastructures01} alt="" class="mt-12" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Porcs sacrificats">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li class="mb-4">
          <strong>Cada any a Catalunya</strong> es sacrifiquen.
        </li>
      </ul>
      <div>
        <p class="text-8xl font-bold mb-4">23 millons</p>
        <Image src={slaughter00} alt="" class="mb-4" />
      </div>
      <div>
        <p>
          <strong>14 milions</strong><br />als escorxadors de Valls Companys,
          Grupo Batallé-Juia i Costa Brava.<sup>6</sup>
        </p>
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li class="mb-4"><strong>A l’Escorxador de l’Armentera</strong></li>
      </ul>
      <div class="flex items-start gap-4">
        <Image src={slaughter01} alt="" class="" />
        <div>
          <p class="text-8xl font-bold mb-4 text-green-500">3.500</p>
          <p>
            animals sacrificats cada any en una relació directa amb els ramaders
            locals.
          </p>
        </div>
      </div>
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Benestar animal">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Milers de porcs en un espai reduït i interior</strong><br
          />Els animals són transportats <strong
            >centenars de quilòmetres</strong
          > fins a l’escorxador.<sup>7</sup>
        </li>
      </ul>
      <Image src={animalCare00} alt="" class="mt-8" />
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong
            >Desenes o pocs centenars de porcs en un espai ampli amb
            possibilitat de sortir a l’exterior</strong
          >.<br />Els animals són transportats <strong>pocs quilòmetres</strong> fins
          a l’escorxador.
        </li>
      </ul>
      <Image src={animalCare01} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Aigua">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Genera estrès hídric</strong><sup>8</sup><br />L’ús d’aigua és
          de…
        </li>
      </ul>
      <div class="flex justify-center gap-8 mt-8">
        <div class="px-4 md:px-8">
          <div class="grid place-items-center">
            <p
              class="text-xs text-center font-bold uppercase col-start-1 row-start-1 z-10 mt-4 leading-none"
            >
              1<br />any
            </p>
            <Image src={water00} alt="" class="col-start-1 row-start-1" />
          </div>

          <p class="mt-4 uppercase text-center text-xs">
            Indústria catalana del porc
          </p>
        </div>
        <div class="px-4 md:px-8">
          <div class="grid place-items-center">
            <p
              class="text-xs text-center font-bold uppercase col-start-1 row-start-1 z-10 mt-4 leading-none"
            >
              55<br />anys
            </p>
            <Image src={water00} alt="" class="col-start-1 row-start-1" />
          </div>
          <p class="mt-4 uppercase text-center text-xs">
            totes les llars de catalunya
          </p>
        </div>
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li><strong>Pateix estrès hídric</strong>.</li>
      </ul>
      <Image src={water02} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Purins">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong
            >Els purins de forma líquida contaminen la terra, l’aire i l’aigua</strong
          >
        </li>
      </ul>
      <div class="flex justify-start gap-4 mt-8">
        <Image src={slurry00} alt="" />
        <p>
          <strong>40%</strong><br />del territori català <strong
            >està contaminat</strong
          > per un excés de nitrats<sup>10</sup>
        </p>
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong
            >Els fems en jaç de palla reprodueixen la fertilitat del sòl</strong
          >.
        </li>
      </ul>
      <Image src={slurry01} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Emissions">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li><strong>Emissions d’efecte hivernacle</strong>.</li>
      </ul>
      <div class="flex justify-start gap-4 mt-8">
        <Image src={emissions00} alt="" />
        <p>
          <strong>21%</strong><br />La <strong
            >indústria porcina catalana</strong
          > n’és responsable<sup>9</sup>
        </p>
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Genera menys carboni i captura part del que genera</strong>.
        </li>
      </ul>
      <Image src={emissions01} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="A qui beneficia">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Alimenta els beneficis econòmics dels grans actors</strong><br
          />Dades dels beneficis del 2023.
        </li>
      </ul>
      <div class="mt-8">
        <div class="flex justify-start items-center gap-4">
          <p class="font-bold text-sm basis-auto md:basis-[120px]">
            Vall Companys
          </p>
          <span class="h-5 w-20 md:w-40 bg-red-600">{''}</span>
          <p class="font-bold text-sm">110M €</p>
        </div>
        <div class="flex justify-start items-center gap-4 mt-2">
          <p class="font-bold text-sm basis-auto md:basis-[120px]">BonÀrea</p>
          <span class="h-5 w-15 md:w-30 bg-red-600">{''}</span>
          <p class="font-bold text-sm">81M €</p>
        </div>
      </div>
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li class="mb-4">
          <strong
            >Sosté una diversitat de petits actors arrelats al territori</strong
          ><br />A Llavora, els ramaders cobren 445€ més per porc que si
          treballessin amb el mercat majorista.
        </li>
      </ul>
      <div class="flex items-start gap-4">
        <Image src={slaughter01} alt="" class="" />
        <div>
          <p class="text-8xl font-bold mb-4 text-green-500">+ 445€</p>
        </div>
      </div>
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Democràcia">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong
            >Les decisions estan en mans d’un grup reduït d’actors i persones</strong
          >.
        </li>
      </ul>
      <Image src={democracy00} alt="" class="mt-8" />
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Diversitat d’actors participen de les decisions</strong>.<br
          />A l’Escorxador de l’Armentera, de gestió cooperativa, la presa de
          decisions és assambleària.
        </li>
      </ul>
      <Image src={democracy01} alt="" class="mt-6" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Ocupació">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Llocs de treball precaris i desvinculats del territori</strong
          >.<br />La integració vertical i la concentració industrial tendeixen
          a <strong>destruir més llocs de treball dels que creen</strong> i generen
          <strong>despoblació rural</strong><sup>4, 5</sup>.
        </li>
      </ul>
      <Image src={labour00} alt="" class="mt-8" />
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Ocupació de qualitat vinculada al territori</strong>.<br />A
          Llavora es creen <strong>10 vegades més llocs de treball</strong> per porc
          que en una finca intensiva de les mateixes dimensions.
        </li>
      </ul>
      <Image src={labour01} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Consum final">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Carn de baixa qualitat</strong>.<br />S’exporta
          majoritàriament a la <strong>Xina</strong>, <strong>França</strong> i <strong
            >Japó</strong
          ><sup>11</sup>.
        </li>
      </ul>
      <Image src={finalConsumer00} alt="" class="mt-8" />
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>Carn de qualitat</strong>.<br />Proveeix <strong
            >actors arrelats al territori</strong
          >: carnissers artesanals, petit comerç i consumidors locals.
        </li>
      </ul>
      <Image src={finalConsumer01} alt="" class="mt-8" />
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo title="Escala">
    <div slot="content1" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>De l’inici al final de la cadena</strong><sup>1</sup>.
        </li>
      </ul>
      <p class="text-3xl font-bold mt-4">+20.000 km.</p>
      <Image src={scale00} alt="" class="mt-8" />
    </div>
    <div slot="content2" class="lg:text-xl">
      <ul class="list-disc">
        <li>
          <strong>L’Escorxador de l’Armentera</strong>.<br /><strong
            >Producció</strong
          > en un radi de 5 km i <strong>distribució</strong> en un màxim de 150 km.
        </li>
      </ul>
      <div class="mt-4">
        <Icon name="arrow-right" class="text-xs text-green-500" />
        <p class="text-3xl font-bold">155 km.</p>
      </div>
    </div>
  </ScreenSplitTwo>

  <ScreenSplitTwo>
    <div slot="content1" class="text-xs lg:text-sm">
      <ul>
        <li>
          <sup>1</sup> GRAIN (2001). La ruta de la soja: el papel del puerto de Barcelona.
        </li>
        <li><sup>2</sup> Idescat.</li>
        <li>
          <sup>3</sup> IDRA (2025). Accions públiques per enfortir Mercabarna en l’alimentació
          sostenible. IDRA.
        </li>
        <li>
          <sup>4</sup> Forner, G. (2022). Explotación animal, explotación laboral,
          El Salto Diario.
        </li>
        <li>
          <sup>5</sup> Ecologistas en acción (2001). Ganadería industrial y despoblación.
        </li>
        <li>
          <sup>6</sup> García, F. (2022). Això no toca. Les emissions ocultes del
          sector porcí català. Barcelona: Justícia Alimentària
        </li>
        <li><sup>7</sup> Greenpeace (2024). Macrogranjas.</li>
        <li>
          <sup>8</sup> Justícia Alimentària (2024). El porc d’aigua català. Denominació
          d’origen protegida. [Manuscrit inèdit]
        </li>
        <li>
          <sup>9</sup> García, F. (2022). Això no toca. Les emissions ocultes del
          sector porcí català. Barcelona: Justícia Alimentària.
        </li>
        <li>
          <sup>10</sup> Agència Catalana de l’Aigua (2022). Avaluació de la problemàtica
          originada per l’excés de nitrats d’origen agrari en les masses d’aigua subterrànies
          a Catalunya. Generalitat de Catalunya.
        </li>
        <li>
          <sup>11</sup> Prodeca (2024). El sector de la carne y los embutidos.
        </li>
      </ul>
    </div>
    <div slot="content2"></div>
  </ScreenSplitTwo>
</Layout>

<style>
  .m-rotate-90-deg {
    transform: rotate(-90deg) translate(-50%, 0);
  }
</style>
