---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import image1920x1080 from '@assets/images/1920x1080.jpg';
import brasil from '@assets/images/infographic/brasil.svg';
import eeuu from '@assets/images/infographic/eeuu.svg';
import TextHero from '@components/TextHero.astro';
import ScreenSplitTwo from '@components/ScreenSplitTwo.astro';
---

<Layout title="informe escorxadors IDRA" includeFooter={false} includeHeader={true} >
<div class="mt-40"> </div>

	<ScreenSplitTwo title="Origen de l'alimentació">
		<div slot="content1" class="md:mx-8">
			<ul class="list-disc my-8">
				<li><strong>Soja transgenica</strong>.<br>Genera <strong>desforestació</strong> i vulneracions dels Drets Humans.</li>
			</ul>
			<div class="flex lg:gap-8 justify-center">
				<Image src={brasil} alt="" />
				<Image src={eeuu} alt="" />
			</div>
		</div>
		<div slot="content2" class="md:mx-8">
			<ul class="list-disc my-8">
				<li><strong>Cultius locals</strong>.<br>Hi ha un vincle directe entre ramaders i agricultors.</li>
			</ul>
			<Image src={image1920x1080} alt="" />
		</div>
	</ScreenSplitTwo>

	<TextHero fullHeightCenter={true}>
		<div slot="content1" class="container text-center mx-auto p-4 md:px-8">
			<h1 class="text-4xl lg:text-10xl font-bold mb-8">
				Implicacions econòmiques i ecològiques de dos models oposats
			</h1>
			<p class="mb-12 max-w-2xl mx-auto">
				Una infografia basada en el cas de la finca ecològica Llavora i de l'Escorxador públic-comunitari de l'Armentera.
			</p>
		</div>
	</TextHero>

</Layout>



<style>
	.m-rotate-90-deg {
		transform: rotate(-90deg) translate(-50%, 0);
	}
</style>